header {
background-image: url(./imagenes/ba1.jpg);
background-size: cover;
background-repeat: no-repeat;
padding-bottom: 100px;
}


.card-img1 {
    height: 480px;
    width: 48%;
    border-radius: 0%
}




















